langchain_core
langchain_groq
langchain_openai
langchain_community
python-dotenv
streamlit
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
sentence-transformers
faiss-cpu
langchain_huggingface